body {
  background-color: #26547C;
  font-family: 'Open-sans', sans-serif;
  color: #0D0630;
  font-weight: 300;
  line-height: 22px;
}

h1 {
  color:#E06D06;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

h2 {
  color:#E06D06;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 22px;
}

h3 {
  color:#E06D06;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

a {
  color: #E06D06;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-left: 75px;
}

.card {
  background-color: white;
  width: 60%;
  max-width: 700px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 3px 3px 2px #E06D06;
  border-radius: 5px;
}

#img-circle {
  width: 150px;
  border-radius: 50%;
  border: 2px solid #E06D06;
}

.img-shadowed {
  width: 150px;
  box-shadow: 4px 4px 3px lightgrey;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

td {
  padding: 10px 10px;
}

#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #0D0630;
}

.list {
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-left: 14px;
}

.fas{
  font-size: 40px;
  line-height: 100px;
}

.fab{
  font-size: 30px;
}
